$text-colors: (
  "primary-dark": #000,
  "primary-light": #fff,
  "primary-light-dark-mode": #f1f1f1,
  "secondary-dark": #554949,
  "secondary-dark-dark-mode": #a49d9d,
  "secondary-light": #f2f2f2,
);

$bg-color: #fff;
$bg-color-dark-mode: #3a3333;
$primary-color: #dd5f63;
$primary-color-dark-mode: #775051;
$secondary-color: #be3c41;
$secondary-color-dark-mode: #dd5f63;
