@use 'sass:map';

$breakpoints: (
  small: 550px,
  medium: 1100px,
  large: 1500px,
);

@mixin interactable($color) {
  display: inline-block;
  margin: 0.5em 0;
  border: 2px solid transparent;
  border-radius: 2em;
  background-color: $color;
  outline: none;
  &:focus {
    background-color: mix(white, $color, 80%);
    color: $color;
    border-color: $color;
  }
}

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}
