@use '../abstracts' as *;

.benefits {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  @include mq(small) {
    &__item {
      &:nth-of-type(2n) {
        transform: translate(2rem, 0);
      }
      &:nth-of-type(2n-1) {
        transform: translate(-2rem, 0);
      }
    }
  }
  @include mq(medium) {
    margin-top: 6rem;
    &__list {
      flex-direction: row;
      justify-content: space-between;
    }
    &__item {
      max-width: 20%;
      &:nth-of-type(2n) {
        transform: translate(0, 2rem);
      }
      &:nth-of-type(2n-1) {
        transform: translate(0, -2rem);
      }
    }
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  &__name {
    text-align: center;
  }
  &__image-container {
    flex-shrink: 0;
    font-size: 16px;
    width: 8em;
    height: 8em;
    border-radius: 2em;
    padding: 0.8em;
    background-color: $primary-color;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__description {
    text-align: center;
    margin-top: 0;
  }
  &__text-container {
    max-width: 80%;
  }
  @include mq(small) {
    flex-direction: row;
    &__name {
      text-align: left;
    }
    &__description {
      text-align: left;
    }
    &__text-container {
      margin-left: 1rem;
      max-width: 100%;
    }
  }
  @include mq(medium) {
    flex-direction: column;
    align-items: flex-start;
    &__image-container {
      font-size: 20px;
    }
    &__text-container {
      margin-left: 0;
    }
  }
}
