@use '../abstracts' as *;
@use 'sass:map';

.btn {
  @include interactable($secondary-color);
  color: map-get($text-colors, "primary-light");
  .dark-mode & {
    @include interactable($secondary-color-dark-mode);
    color: map-get($text-colors, "primary-light-dark-mode");
  }
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  @include mq(medium) {
    padding: 0.5em 2em;
  }
}
