@use '../abstracts/colors' as *;

.header-text {
  text-align: center;
  width: 100%;
  &__main {
    width: 60vw;
    em {
      font-style: normal;
      color: $secondary-color;
    }
  }
  &__side {
    width: 85vw;
  }
}
