@use '../abstracts/colors' as *;

.hero {
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;

  &__image {
    width: 50vw;
    height: 50vw;
    display: inline-block;
    background: no-repeat center;
    background-size: contain;
    &--left {
      background-image: url("../images/doodles-left.svg");
      transform: translateX(0.2rem);
    }
    &--right {
      background-image: url("../images/doodles-right.svg");
      transform: translateX(-0.2rem);
    }
  }
  &__content {
    order: 1;
    height: fit-content;
  }
}

.header-text {
  text-align: center;
  width: 100%;
  &__main {
    width: 60vw;
    em {
      font-style: normal;
      color: $secondary-color;
    }
  }
  &__side {
    width: 85vw;
  }
}
