@use '../abstracts' as *;

.hero {
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;

  &__image {
    width: 50vw;
    height: 50vw;
    display: inline-block;
    background: no-repeat center;
    background-size: contain;
    &--left {
      background-image: url("../images/doodles-left.svg");
      transform: translateX(0.2rem);
      .dark-mode & {
        background-image: url("../images/doodles-left-dark-mode.svg");
      }
    }
    &--right {
      background-image: url("../images/doodles-right.svg");
      transform: translateX(-0.2rem);
      .dark-mode & {
        background-image: url("../images/doodles-right-dark-mode.svg");
      }
    }
  }
  &__content {
    order: 1;
    height: fit-content;
  }
  @include mq(medium) {
    flex-wrap: nowrap;
    &__image {
      &--left {
        transform: translateX(-1rem);
      }
      &--right {
        transform: translateX(1rem);
      }
    }
    &__content {
      order: 0;
    }
  }
}

.header-text {
  text-align: center;
  width: 80vw;
  &__main {
    width: 85%;
    em {
      font-style: normal;
      color: $secondary-color;
      .dark-mode & {
        color: $secondary-color-dark-mode;
      }
    }
  }
  &__side {
    width: 100%;
  }
  @include mq(small) {
    width: 55vw;
  }
  @include mq(medium) {
    width: 25vw;
    max-width: 500px;
  }
}
