@use '../abstracts' as *;
@use 'sass:map';

.logo {
  height: 2.5rem;
  display: flex;
  align-items: center;

  &__text {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0.3em;
    color: map.get($text-colors, "primary-dark");
    .dark-mode & {
      color: map.get($text-colors, "primary-light-dark-mode");
    }
  }
}
