@use '../abstracts' as *;
@use 'sass:map';

.notification {
  &__input {
    width: 100%;
  }
  &__btn {
    width: 100%;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  @include mq(small) {
    &__form {
      flex-direction: row;
    }
    &__input.input {
      margin-right: 1rem;
    }
    &__btn {
      width: fit-content;
    }
  }
  @include mq(medium) {
    &__form {
      max-width: 800px;
      margin: auto;
    }
    &__input.input {
      margin-right: 1.5rem;
    }
  }
}
