@use '../abstracts' as *;
@use 'sass:map';

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @include mq(medium) {
    flex-direction: row;
  }
}
.plan {
  background-color: $primary-color;
  .dark-mode & {
    background-color: $primary-color-dark-mode;
  }
  padding: 3rem 2rem 1rem;
  margin: 2rem 0;
  border-radius: 1rem;
  position: relative;
  max-width: 360px;

  &::before {
    content: "";
    width: 5rem;
    height: 5rem;
    display: block;
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-33.33%);
    background: url("../images/card1-logo.svg") no-repeat center;
    background-size: contain;
    .dark-mode & {
      background: url("../images/card1-logo-dark-mode.svg") no-repeat center;
      background-size: contain;
    }
  }

  &:nth-child(2n) {
    background-color: $secondary-color;
    .dark-mode & {
      background-color: $secondary-color-dark-mode;
    }
    &::before {
      background-image: url("../images/card2-logo.svg");
      .dark-mode & {
        background-image: url("../images/card2-logo-dark-mode.svg");
      }
    }
  }

  &__title,
  &__price {
    color: map.get($text-colors, "primary-light");
    .dark-mode & {
      color: map.get($text-colors, "primary-light-dark-mode");
    }
  }

  &__description,
  &__offer,
  &__period {
    color: map.get($text-colors, "secondary-light");
    .dark-mode & {
      color: map.get($text-colors, "secondary-light");
    }
  }

  &__price {
    font-size: 2.5rem;
    margin: 1rem 0;
    font-weight: 700;
  }

  &__period {
    vertical-align: super;
    font-size: 1rem;
    margin-left: -0.5rem;
    font-weight: 400;
  }

  &__offer {
    padding: 0;
    list-style: none;
  }
}

.offer {
  &__item:before {
    content: "- ";
  }
}
