@use '../abstracts' as *;

.scroll-down {
  width: 24px;
  height: 40px;
  border: 2px solid $secondary-color;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  .dark-mode & {
    border-color: $secondary-color-dark-mode;
  }

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid $secondary-color;
    border-radius: 50%;
    transform: translateY(3px);
    .dark-mode & {
      border-color: $secondary-color-dark-mode;
    }
  }
}
