@use '../abstracts' as *;
@use 'sass:map';

.footer {
  margin-top: 3rem;
  padding: 1.5rem 1rem;
  background-color: $secondary-color;
  border-radius: 1rem 1rem 0 0;
  &__credit {
    font-size: 0.75rem;
    margin: 1em auto 0;
    max-width: 600px;
    color: map.get($text-colors, "secondary-light");
    &:nth-child(1) {
      margin-top: 0;
    }
  }
  &__link {
    color: map.get($text-colors, "primary-light");
    font-weight: 700;
    text-decoration: none;
  }
  .dark-mode & {
    background-color: $primary-color-dark-mode;
    &__link {
      color: map.get($text-colors, "primary-light-dark-mode");
    }
  }
}
