@use '../abstracts' as *;

.section {
  padding: 0 1rem;
  &__title {
    text-align: center;
  }
  &__description {
    text-align: center;
  }
  @include mq(small) {
    width: clamp(500px, 90vw, 600px);
    margin: 0 auto;
  }
  @include mq(medium) {
    width: clamp(800px, 90vw, 1200px);
  }
}
